{% load static %}
<div class="card">
    <div class="card__header">
        <img class="card__user-image" src="http://via.placeholder.com/32x32"/>
        <a href="#">
            <span class="card__user-name">likelion.official</span>
        </a>
    </div>
    <div class="card__body">
        <div>
            <img class="card__image" src="http://via.placeholder.com/600x600">
        </div>
        <div class="card__btn-group">
            <div>
                <img class="card__btn" src="{% static 'icons/favorite_outlined_black_36dp.svg' %}" alt="좋아요"/>
                <img class="card__btn" src="{% static 'icons/mode_comment_outlined_black_36dp.svg' %}" alt="댓글"/>
                <img class="card__btn" src="{% static 'icons/send_outlined_black_36dp.svg' %}" alt="공유하기"/>
            </div>
            <div>
                <img class="card__btn" src="{% static 'icons/bookmark_outlined_black_36dp.svg' %}" alt="북마크"/>
            </div>
        </div>
        <div class="card_content">
            <span class="card__like-num">좋아요 00개</span>
            <div class="card__main-text">
                <p><span
                        class="card__user-name">likelion.official</span>{{ "실무와 현업에서 필요로 하는 백엔드 개발자로의 역량 배양에 효과적"|truncatechars:35 }}
                    <span>더보기</span></p>
            </div>
            <div>
                <p class="">댓글 0개 모두 보기</p>
                <ul class="card__comment-group">
                    <li><p><span class="card__user-name">likelion.official</span>댓글 내용...</p></li>
                </ul>
            </div>
            <span class="card__created-at">2022년 3월 1일</span>
        </div>
    </div>
</div>