<html>
    <head></head>
    <body>
        <h1>이동원이 만든 계산기 입니다.</h1>
        계산기 개발 중입니다.
        <form action="">
            <input type="text" name="num1">
            <select name="operators">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input type="text" name="num2">
            <input type="submit">
            <br/>
            결과값 : {{ result }}
        </form>
    </body>
</html>