<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>로또 번호 추출기</h1>
        로또 번호를 받아보세요!
<!--        <form action="">-->
<!--            <input type="submit" value="로또 번호 추출하기">-->
<!--        </form>-->
<!--        <br/>-->

        <form action="">
            몇개의 게임을 뽑으시겠습니까? <input type="int" name="game" value="1">
            <input type="submit" value="로또 번호 추출하기">
        </form>
        <br>

        <hr>
<!--        <p>게임 수 : {{ game }}</p>-->
        <p>로또 번호 : {{ lotto_number }}</p>
    </body>
</html>